html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    width: 100%;
}
#logo {
    height: 115px;
    margin-top: 15px;
}
#oops {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: 'tofino', sans-serif;
    letter-spacing: -20px;
    color: white;
    background-color: var(--lightRed);
    margin: 15px 0;
    height: 20%;
    width: 100%;
}

footer {
    width: 100%;
}

@media (min-height: 900px) {
    #logo {
        height: 175px;
    }
}