/* Nav */

body {
    margin-top: var(--navbarHeight);
}

#navbar {
    display: flex;
    align-items: center;
    /*position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;*/
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -2px 10px 0px #000000;
    background-color: #fff;
    width: 100%;
    padding: 10px 15px;
    height: var(--navbarHeight);
}

#btn-home {
    height: 100%;
}

#btn-menu {
    margin-left: 15px;
}

#btn-menu i {
    font-size: 36px;
}

#nav {
    /* Adding fade to nav 
    display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    /* Adding fade to nav */
    opacity: 0;
    visibility: hidden;
    background-color: inherit;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 100vh;
    /* Adding fade to nav 
    transition: transform 0.6s ease;
     */
    width: 100%;
    transition: visibility 0.6s ease, opacity 0.6s ease;
    -moz-transition: visibility 0.6s ease, opacity 0.6s ease;
    -webkit-transition: visibility 0.6s ease, opacity 0.6s ease;
    -o-transition: visibility 0.6s ease, opacity 0.6s ease;
    -ms-transition: visibility 0.6s ease, opacity 0.6s ease;
}

#nav.open {
    /* Adding fade to nav 
    width: 100%
     */
    visibility: visible;
    opacity: 1;
}

.btn-section {
    font-weight: 600;
    padding: 15px;
    width: 100%;
    transition: color 0.2s ease-in;
}

#navbar-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-left: auto;
    transition: background-color 0.2s ease-in;
}

#contact-icon {
    font-size: 30px;
    color: #a74545;
    z-index: 10;
}

@media (min-height: 500px) {
    @media (min-width: 768px) {
        #navbar {
            overflow: hidden;
        }
        #btn-menu {
            display: none;
        }
        #nav {
            display: block;
            position: static;
            visibility: visible;
            opacity: 1;
            margin-left: 10px;
            width: auto;
            height: 100%;
        }
        #nav-list {
            display: flex;
            height: 100%;
        }
        #nav-list>li {
            height: 100%;
        }
        .btn-section {
            padding-top: 0;
            padding-bottom: 0;
            height: 100%;
        }
        #navbar-contact {
            position: absolute;
            top: 0;
            right: -2px;
            color: #fff;
            background-color: var(--red);
            padding: 10px 15px;
            height: 100%;
        }
        #contact-icon {
            font-size: 30px;
            color: white;
        }
        #contact-number {
            margin-left: 10px;
        }
    }
}

@media(hover: hover) and (pointer: fine) {
    .btn-section:hover {
        color: var(--red);
    }
    #navbar-contact:hover {
        background-color: var(--lightRed);
    }
}