@font-face {
    font-family: 'Tofino';
    src: url('../../fonts/Tofino-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Fresh';
    src: url('../../fonts/SF-R.woff') format('woff');
}