:root {
    --lightRed: rgb(222, 89, 89);
    --red: rgb(179, 72, 72);
    --darkRed: rgb(140, 64, 64);
    --blue: rgb(50, 64, 75);
    --lightBlue: #4c6171;
    --grey: rgb(112, 112, 112);
    --black: #2e2e2e;
    --vh: 0;
    --navbarHeight: 50px;
}

::selection {
    background-color: var(--red);
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background-color: var(--red);
    /* Gecko Browsers */
    color: #fff;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 1px;
}

section {
    --paddingX: 30px;
    --paddingY: calc(7.4 * var(--vh));
    text-align: center;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    padding-left: var(--paddingX);
    padding-right: var(--paddingX);
}

h2 {
    color: var(--blue);
    font-family: 'Tofino', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 0.416666em;
    margin-bottom: 30px;
}

a, a:visited {
    color: var(--red);
}

.section-alt h2 {
    color: #fff;
}

.section-alt {
    --backgroundColor: var(--black);
    background-color: var(--black);
    color: #fff;
}

.container {
    --paddingX: 30px;
    --marginX: auto;
    --maxWidth: 1000px;
    padding-left: var(--paddingX);
    padding-right: var(--paddingX);
    margin-left: var(--marginX);
    margin-right: var(--marginX);
    max-width: calc(var(--maxWidth) + var(--paddingX) * 2);
}

.emphasis {
    font-family: 'Tofino', sans-serif;
    color: var(--red);
    letter-spacing: -0.2em;
}

.cosmetic {
    font-family: 'Fresh', sans-serif;
    font-size: 36px;
}

.btn {
    display: inline-block;
    background-color: var(--blue);
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 0.4s ease;
}

#btn-return {
    background-color: var(--red);
    color: #fff;
    transition: transform 0.4s ease;
}

html.debug *::after {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    background-color: green;
    width: 1px;
    height: 100%;
}

.text p:not(:last-child), .text ul:not(:last-child) {
    margin-bottom: 15px;
}

.hidden {
    display: none!important;
}

@media (min-width: 768px) {
    .container {
        --paddingX: 10%;
        padding-left: var(--paddingX);
        padding-right: var(--paddingX);
    }
}

@media (min-width: 768px) {
    @media (min-height: 768px) {
        h2 {
            font-size: 36px;
        }
        .btn {
            font-size: 18px;
        }
    }
}

/* BEGIN hide-<device> media queries */

@media (max-width: 767px), (max-height: 567px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) and (min-height: 568px) {
    .hide-tablet {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hide-desktop {
        display: none;
    }
}

/* END hide-<device> media queries */

@media(hover: hover) and (pointer: fine) {
    #btn-return:hover {
        transform: scale(1.1);
    }
    .btn:hover {
        transform: scale(1.05);
    }
}
