/* Navbar */

#navbar {
    z-index: 100;
}

#btn-home {
    z-index: 110;
}

#btn-menu {
    z-index: 110;
}

/* Services */

.feature-name {
    z-index: 10;
}

/* Process */

#section-process {
    z-index: 0;
}

#process-background {
    z-index: -10;
}