* {
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0;
}

h2, h3, h4, h5, h6, p {
    line-height: 1.4;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

ul>li a {
    display: block;
    color: inherit;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

input, textarea, select, button {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
}

/* iOS */

input, textarea {
    border-radius: 0;
    margin: 0;
}

input[type=submit] {
    -webkit-appearance: none;
}

/* select {
    -webkit-appearance: none;
} */

/* End iOS */

textarea {
    resize: vertical;
}

[type=button], [type=submit], button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

label {
    cursor: pointer;
}

button>.material-icons {
    display: flex;
}