main {
    position: relative;
}

#btn-return {
    --fontSize: 36px;
    --padding: 5px;
    --margin: 15px;
    --height: 0px;
    display: none;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    bottom: var(--margin);
    box-shadow: 0 0 8px -1px #000;
    padding: var(--padding);
    margin-top: calc(-1 * var(--height));
    margin-left: auto;
    margin-right: var(--margin);
    z-index: 100;
}

#btn-return i {
    font-size: var(--fontSize);
}