.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.carousel-list {
    flex: 1;
    display: flex;
    /*
        flex-direction: column is set for all possible layouts
        because of an interesting reaction with width: 0,
        which will be set later in js.
        The effect is that all items in the list will essentially float left.
    */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* FF and Edge */
    min-height: 0;
    transition: transform 0.6s ease;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.6s ease;
}

.carousel-arrow.prev {
    left: 0;
}

.carousel-arrow.next {
    right: 0;
}

.carousel-arrow .material-icons {
    font-size: 36px;
}

.carousel-nav {
    margin-top: 15px;
}

.carousel-progress {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-indicator {
    font-size: 16px;
    transition: background-color 0.4s ease, color 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

/* Abstract */

.carousel-nav.nav-abstract .carousel-indicator {
    --sizeMultiplier: 1;
    --calculatedSize: calc(5px * var(--sizeMultiplier));
    border-radius: 50%;
    background-color: #808080;
    padding: var(--calculatedSize);
    opacity: 0.6;
}

.carousel-nav.nav-abstract .carousel-indicator:not(:first-child) {
    margin-left: 6px;
}

.carousel-nav.nav-abstract .carousel-indicator.prev, .carousel-nav.nav-abstract .carousel-indicator.next {
    --sizeMultiplier: 1.2;
}

.carousel-nav.nav-abstract .carousel-indicator.current {
    opacity: 1;
    --sizeMultiplier: 1.4;
}

/* Pagination */

.carousel-nav.nav-pagination .carousel-indicator {
    border: 1px solid #000;
    padding: 0 4px;
}

.carousel-nav.nav-pagination .carousel-indicator.current {
    background-color: #000;
    color: #fff;
}

@media(hover: hover) and (pointer: fine) {
    .carousel-arrow:hover {
        transform: translate(0, -50%) scale(1.5);
    }
    .carousel-nav.nav-abstract .carousel-indicator:hover {
        opacity: 1;
        --sizeMultiplier: 1.4;
    }
    .carousel-nav.nav-pagination .carousel-indicator:hover {
        background-color: #000;
        color: #fff;
    }
}