#section-team {
    --paddingX: 0px;
}

#team-img {
    position: relative;
    background-image: url(../../../images/team.png);
    background-position: center;
    background-size: auto 100%;
    height: calc(var(--vh) * 100 - var(--navbarHeight));
    max-height: 400px;
}

.team-name {
    border-bottom: 1px solid #707070;
    color: var(--red);
    font-family: 'Tofino', Tahoma, Verdana, sans-serif;
    padding-left: 0.416666em;
}

#name-james {
    position: absolute;
    left: calc(50% - 110px);
    top: 10%;
    transform: translateX(-50%);
}

#name-cam {
    position: absolute;
    left: calc(50% + 70px);
    top: -7%;
    transform: translateX(-50%);
}

#team-desc {
    margin-top: 15px;
}