#section-contact {
    --backgroundColor: var(--blue);
    --paddingX: 0px;
    border-top: 5px solid var(--backgroundColor);
    background-color: var(--backgroundColor);
    padding-top: 0;
    padding-bottom: 0;
}

#contact-container {
    background-color: #fff;
    padding-top: var(--paddingY);
    padding-bottom: calc(var(--paddingY) * 2);
}

/* Info */

#contact-info {
    margin-top: 30px;
}

.contact-info-item {
    display: flex;
    align-items: center;
}

.contact-info-row:not(:first-child), .contact-info-item:not(:first-child) {
    margin-top: 15px;
}

.contact-info-item-icon {
    font-size: 24px;
    width: 24px;
}

.contact-info-item-detail {
    margin-left: 15px;
}

/* Form */

#form-contact {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-row {
    display: block;
    width: 100%;
}

.form-field {
    --margin: 10px;
    border: 1px solid #707070;
    padding: 10px 12px;
    margin-top: var(--margin);
    width: 100%;
}

#form-contact input[type=submit]:disabled {
    cursor: default;
    opacity: 0.6;
}

#form-contact input[type=submit] {
    background-color: var(--red);
    font-size: 18px;
    font-weight: 600;
    border: none;
}

#form-contact-response {
    color: green;
    font-size: 14px;
    font-weight: 700;
    margin-top: 12px;
}

#form-contact-response.error {
    color: red;
}

@media (min-width: 568px) {
    .contact-info-row {
        display: flex;
    }
    .contact-info-item {
        flex: 1;
    }
    .contact-info-item:not(:first-child) {
        margin-top: 0;
    }
    .form-row {
        display: flex;
    }
    .form-row .form-field:not(:first-child) {
        margin-left: var(--margin);
    }
}

@media (min-width: 1366px) {
    #contact-info {
        display: flex;
    }
    .contact-info-row {
        flex: 1;
    }
    .contact-info-row:not(:first-child) {
        margin-top: 0;
    }
    .contact-info-item {
        flex: none;
    }
    .contact-info-item:not(:first-child) {
        margin-left: auto;
        margin-right: auto;
    }
    #form-contact input[type=submit], .contact-info-item a {
        transition: 0.2s ease-in;
    }
}

@media(hover: hover) and (pointer: fine) {
    #form-contact input[type=submit]:hover {
        transform: none;
        background-color: var(--lightRed);
    }
    a.contact-info-item-detail:hover {
        color: blue;
    }
}