#footer {
    position: relative;
    --paddingY: 15px;
    text-align: center;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
    color: white;
    background-color: #000;
}

.footer-seperator {
    position: absolute;
    background-image: url('../../../images/footer-diamond.png');
    bottom: 100%;
    width: 100%;
    height: 35px;
    background-repeat: repeat-x;
    background-position: top;
}