#header {
    position: relative;
    text-align: center;
    height: calc(100 * var(--vh) - var(--navbarHeight));
}

#header-background_color {
    --angle: 0;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.75;
    background-color: #fff;
    width: 100%;
    height: 100%;
}

#header-background_image {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../../images/background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#header-content {
    --paddingX: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

#header-content>* {
    position: relative;
}

#header-location {
    position: absolute;
    /* left: calc(50% + var(--serviceIconHeight) / 2 + (100% - 50% - var(--serviceIconHeight) / 2) / 2); */
    top: 15px;
    left: 15px;
    font-size: 12px;
    color: var(--blue);
}

#logo {
    height: 115px;
    margin-top: auto;
}

#desc {
    color: var(--blue);
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: auto;
}

#btn-cta {
    background-color: var(--red);
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: auto;
}

@media (min-height: 500px) {
    #header {
        height: calc(100 * var(--vh) - var(--navbarHeight) - var(--serviceIconHeight) / 2);
    }
    #header-content {
        /* padding-bottom: calc(var(--serviceIconHeight) / 2); */
    }
    #logo {
        height: 150px;
    }
    #desc {
        margin-top: 30px;
    }
    #btn-cta {
        margin-top: 30px;
    }
    @media (min-width: 1024px) and (orientation: landscape) {
        #header-background_image {
            --bgWidth: 0;
            width: var(--bgWidth);
        }
        #header-background_color {
            --angle: 110deg;
            opacity: 1;
            background-color: transparent;
            background-image: linear-gradient(var(--angle), #fff 50%, rgba(50, 64, 75, 0.15) 0%);
        }
        #header-content {
            width: 50%;
        }
        #header-location {
            top: 50%;
            left: unset;
            right: 25px;
            bottom: unset;
            transform: translate(-50%, -50%);
            border: 5px solid #fff;
            background-color: var(--blue);
            color: #fff;
            font-family: inherit;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: inherit;
            text-orientation: upright;
            text-transform: uppercase;
            writing-mode: vertical-rl;
            padding: 15px;
        }
    }
}

@media (min-width: 768px) and (min-height: 900px) {
    #logo {
        height: 200px;
    }
}