#pricing-content {
    text-align: left;
    margin-top: 30px;
}

/* form-pricing */

.pricing-step:not(:first-child) {
    margin-top: 15px;
}

.pricing-category {
    margin-top: 15px;
}

/* btn-input */

.btn-input {
    --btnInputHeight: 50px;
    --btnInfoSize: 36px;
    --btnInfoMargin: 10px;
    display: flex;
    align-items: center;
    position: relative;
    /* ensures that the label click is not triggered by highlighting text instead of actually clicking */
    /* otherwise, when you highlight text, the label click is triggered but that of its associated input is not */
    user-select: none;
    padding-right: calc(var(--btnInfoSize) + var(--btnInfoMargin) * 2);
    height: var(--btnInputHeight);
    transition: background-color 0.2s ease-in;
}

.btn-input.primary {
    background-color: var(--red);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.btn-input.secondary {
    background-color: #fff;
    color: #000;
}

.btn-input input {
    display: none;
}

.btn-input-name {
    flex: 1;
}

/* btn-input-indicator */

.btn-input-indicator {
    position: relative;
    background-color: var(--darkRed);
}

.btn-input-input, .btn-input-indicator {
    margin-right: 15px;
    width: var(--btnInputHeight);
    height: 100%;
}

.btn-input-indicator.select {
    display: none;
}

.btn-input.secondary .btn-input-indicator {
    background-color: var(--blue);
}

.btn-input-indicator::before, .btn-input-indicator::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    color: #fff;
    width: var(--size);
    height: var(--size);
}

.btn-input-indicator::before {
    --size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}

.btn-input-indicator::after {
    display: none;
}

.btn-input-indicator.radio::before, .btn-input-indicator.radio::after {
    border-radius: 50%;
}

.btn-input-indicator.radio::after {
    --size: 16px;
    background-color: #fff;
}

.btn-input-indicator.checkbox::after {
    content: "close";
}

.btn-input input:checked+.btn-input-indicator::after {
    display: flex;
}

/* button-input-input dropdown styles */
.custom-select {
    position: relative;
    display: inline-block;
    height: 100%;
    width: var(--btnInputHeight);
    margin-right: 15px;
}
.custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
.custom-select:before {
    content: "";
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    background-color: rgba(0,0,0,.2);
}
.custom-select:after {
    content: "\25BC";
    position: absolute;
    color: rgba(0,0,0,.6);
    height: 6px;
    font-size: 11px;
    line-height: 1;
    right: 1px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

/* btn-info */

.btn-info {
    position: absolute;
    top: 50%;
    right: var(--btnInfoMargin);
    transform: translateY(-50%);
    border-radius: 50%;
    color: #66bdff;
    transition: color 0.2s ease;
}

.btn-input.primary .btn-info {
    background-color: #fff;
}

.btn-info .material-icons {
    font-size: var(--btnInfoSize);
}

/* permanent state */

.btn-input.permanent .btn-input-indicator::before, .btn-input.permanent .btn-input-indicator::after {
    opacity: 0.5;
}

/* disabled state */

.pricing-category.disabled .btn-input-indicator::before, .pricing-category.disabled .btn-input-name {
    opacity: 0.35;
}

/*** pricing-right ***/

#pricing-right {
    position: relative;
    border: 2px solid var(--red);
    margin-top: 15px;
}

.pricing-title {
    font-size: 18px;
    text-align: center;
    padding: 0 15px;
}

.btn-back {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 24px;
    padding: 0 7px;
    transition: color 0.2s ease;
}

/* pricing-quote */

#pricing-quote {
    --itemPaddingX: 15px;
    --itemMarginY: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#pricing-quote .pricing-title {
    --paddingY: 15px;
    padding-top: var(--paddingY);
    padding-bottom: var(--paddingY);
}

.quote-category {
    display: none;
}

.quote-item {
    padding-left: var(--itemPaddingX);
    padding-right: var(--itemPaddingX);
    margin-top: var(--itemMarginY);
}

.quote-item:not(#quote-item-hosting) {
    display: none;
}

.quote-item-option:not(:first-child) {
    display: none;
}

.quote-item-details {
    display: flex;
}

.quote-item.primary .quote-item-details {
    color: var(--red);
    font-weight: 700;
    text-transform: uppercase;
}

.quote-item.secondary .quote-item-details {
    font-weight: 500;
}

.quote-item-name {
    flex: 1;
}

.quote-item-desc {
    color: #333;
    font-size: 14px;
}

.quote-subtotal, #quote-total {
    font-weight: 700;
    text-align: right;
    padding: 8px var(--itemPaddingX);
}

.quote-subtotal {
    --border: 1px solid var(--red);
    border-top: var(--border);
    border-bottom: var(--border);
    color: var(--red);
    font-weight: 700;
    text-align: right;
    padding: 8px var(--itemPaddingX);
    margin-top: var(--itemMarginY);
}

#quote-conditions {
    display: none;
    font-size: 12px;
    padding: var(--itemMarginY) var(--itemPaddingX);
}

#quote-total {
    display: none;
    background-color: var(--red);
    color: #fff;
    margin-top: auto;
}

/* pricing-info */

.pricing-info {
    display: none;
    padding: 15px;
}

.pricing-info ul {
    padding-left: 20px;
}

.pricing-info li {
    list-style-type: disc;
}

#pricing-quote .flash {
    animation: flash 0.6s 1;
}

/* pricing gif */

.gif-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.gif-container.gif {
    cursor: pointer;
}

.gif-container.gif:after {
    content: 'GIF';
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 20px;
    right: 20px;
    border-radius: 3px;
    color: #656D78;
    background-color: #d3d3d3d9;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    width: 40px;
}

.gif-container.gif i:before {
    position: absolute;
    top: 50%;
    right: 50%;
    color: var(--red);
    border: 10px solid var(--red);
    border-radius: 50%;
    padding: 15px;
    transform: translate(50%, -50%);
    transition: opacity 0.2s ease-in;
}

i.play-gif {
    display: none;
}

.gif-container.play-gif:after {
    color: #fff;
    background-color: var(--red);
}

.gif-container.img i {
    display: none;
}

/* Info button tool tip */

.info-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    transform: translate(0, -50%);
    visibility: hidden;
    border-radius: 10px;
    background-color: var(--blue);
    color: #fff;
    font-size: 12px;
    text-transform: none;
    padding: 5px 0 6px;
    width: 90px;
    transition: 0.2s ease-in;
}

/* -------------------- */

.btn-estimate {
    margin-top: 15px;
    width: 100%;
}

#btn-top {
    color: blue;
    font-size: 13px;
    margin: 10px auto 0;
    transition: color 0.2 ease;
}

#pricing-cta {
    margin-top: 30px;
}

@media (min-width: 1024px) {
    #pricing-content {
        display: flex;
    }
    #pricing-right {
        flex: 1;
        margin-top: 0;
        margin-left: 30px;
    }
    .gif-container.gif i:before {
        opacity: 0.7;
    }
}

@media(hover: hover) and (pointer: fine) {
    .pricing-category:not(.disabled) .btn-input.primary:not(.permanent):hover {
        background-color: var(--darkRed);
    }
    .btn-input.secondary:not(.permanent):hover {
        background-color: #ddd;
    }
    .btn-info:hover {
        color: #5191c1;
    }
    .btn-info:hover .info-tooltip {
        opacity: 1;
        transform: translate(-50%, -50%);
        visibility: visible;
    }
    .btn-back:hover {
        color: var(--red);
    }
    .gif-container.gif:hover i:before {
        opacity: 1;
    }
    #btn-top:hover {
        color: var(--red);
    }
}