:root {
    /* an arbitrary value used to align the btn-services */
    --btnServiceOffset: 25px;
}

#section-services {
    --paddingX: 0;
    position: relative;
    overflow: hidden;
}

#services {
    text-transform: uppercase;
    transition: transform 1s ease;
}

#btn-design {
    --marginX: auto;
    margin-left: var(--marginX);
    margin-right: var(--marginX);
}

#btn-build, #btn-host {
    display: inline-block;
}

#btn-host {
    /* aligns all the buttons with each other when parent is rotated */
    margin-left: 54px;
}

.btn-service {
    position: relative;
    /* aligns the parent horizontally when rotated */
    top: calc(-1 * var(--btnServiceOffset));
    font-size: 18px;
    transition: transform 1s ease;
    padding: 10px;
}

.service-icon {
    --marginX: auto;
    --btnServiceIconSize: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #000;
    background-color: var(--red);
    font-size: 60px;
    margin-left: var(--marginX);
    margin-right: var(--marginX);
    width: var(--btnServiceIconSize);
    height: var(--btnServiceIconSize);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-service.active .service-icon {
    background-color: #fff;
    color: var(--red);
}

.service-title {
    margin-top: 10px;
}

.service {
    --paddingX: 0;
    display: none;
    margin-top: 30px;
}

.service.active {
    display: block;
}

.service-carousel {
    padding-top: 15px;
    margin-top: 5px;
}

.service-carousel .carousel-arrow {
    color: #808080;
    /* FF temp fix */
    width: 36px;
    height: 36px;
}

.feature {
    position: relative;
}

.feature-name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundColor);
    color: var(--red);
    font-size: 24px;
    padding: 8px;
}

.feature-desc {
    position: relative;
    border: 5px dotted var(--red);
    padding: 30px;
    height: 100%;
}

.feature-desc.active {
    display: block;
}

@media (min-height: 500px) {
    #section-services {
        background-color: transparent;
        background-image: linear-gradient(to bottom, transparent calc(var(--serviceIconHeight) / 2), var(--backgroundColor) 0%);
        padding-top: var(--btnServiceOffset);
        margin-top: calc(-1 * var(--serviceIconHeight) / 2);
    }
}

@media (min-width: 568px) {
    :root {
        --btnServiceOffset: 0px;
    }
    #services {
        display: flex;
        transform: none!important;
        padding-left: 30px;
        padding-right: 30px;
    }
    #btn-host {
        margin-left: auto;
        margin-right: auto;
    }
    #btn-build, #btn-host {
        display: block;
    }
    .btn-service {
        transform: none!important;
    }
}

@media (min-width: 1250px) and (min-height: 768px) {
    .feature-name {
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
    .service {
        --paddingX: 10%;
    }
    .service-carousel .carousel-arrow {
        /* FF temp fix */
        width: 72px;
        height: 72px;
    }
    .service-carousel .carousel-arrow .material-icons {
        font-size: 72px;
    }
}

@media(hover: hover) {
    .btn-service:hover .service-icon {
        background-color: #fff;
        color: var(--red);
    }
}